.App {
  text-align: center;
}
h2 {
  margin: 20px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .set {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 20px;

    input {
      padding: 3px 7px;
      outline: none;
      border: 1px solid #212121;
      border-radius: 5px;
      flex: 1;
    }
    label {
      font-weight: $medium;
      flex: 1;
      text-align: start;
    }
  }
}

.buttons {
  display: flex;
  // align-items: center;
  justify-content: space-evenly;
  // gap: 10%;
  margin: 50px;
  button {
    cursor: pointer;
    font-weight: $medium;
    padding: 7px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $white;
    background-color: $primary-color;
    font-size: 1rem;
  }
}
