#dropdown-basic-button {
  box-sizing: border-box;
  font: 400 14px / 19.6px Roboto, sans-serif;
  padding: 8px 32px 8px 0px;
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.2s;
  color: rgb(97, 97, 97);
  background: none 0% 0% / auto repeat scroll padding-box border-box
    rgb(255, 255, 255);
  /* border-bottom: solid 1px rgb(204, 204, 204); */
  border-radius: 0%;
  width: 70%;
  height: 70%;
}

.custom-dropdown-button .dropdown-toggle .dropdown-title {
  margin-right: 140px; /* Adjust the value as needed */
}
.row-margin {
  /* margin-bottom: 2px; */
}
/* src/components/CustomDropdownWithSearch.css */
.custom-dropdown-button .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-dropdown-button .dropdown-menu {
  width: 70%;
  border: navajowhite;
}

.custom-dropdown-button .dropdown-title {
  margin-left: 10px; /* Adjust the value as needed */
}
/* src/components/CustomDropdownWithRadioButton.css */
.custom-dropdown-button .dropdown-toggle .dropdown-title {
  margin-left: 10px; /* Adjust the value as needed */
}

.custom-dropdown-button .dropdown-menu {
  width: 70%;
}

.custom-dropdown-button .form-control {
  margin: 10px; /* Adjust the value as needed */
}
.search-container {
  position: relative;
  display: inline-block;
  width: 90%;
}

.search-input {
  width: 80%;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

.search-icon {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
}
.fieldset-legend {
  width: 100%;
  font-size: 1rem;
  // font-weight: bold;
  margin-bottom: 0.7rem;
  color: rgb(31, 117, 254);
}

/* src/components/CustomCard.css */
.custom-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.custom-card:hover {
  transform: scale(1.02);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  display: block;
  border-bottom: 2px solid #f0f0f0;
}

.status-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(151, 30, 40);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.card-content {
  padding: 20px;
}

.card-header {
  margin-bottom: 20px;
}

.year {
  color: #999;
  font-size: 14px;
  font-weight: bold;
}

.title {
  font-size: 18px;
  margin: 5px 0;
}

.price {
  color: rgb(151, 30, 40);
  font-size: 0.8rem;
  font-weight: bold;
}

.location {
  color: #999;
  font-size: 14px;
}

.card-description {
  margin-bottom: 20px;
}

.card-actions {
  // display: flex;
  // justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  // gap: 0.5rem; /* Space between buttons */
  justify-content: center; /* Center buttons horizontally */
  margin-top: 1rem;
}

.action-button {
  background: rgb(151, 30, 40);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.action-button:hover {
  background: #c0392b;
}

/* Dropdown with radio buttons */
.custom-dropdown-container {
  border-bottom: 2px solid #f5f5f5;
  border-radius: 5px;
  width: 250px;
  position: relative;
  margin-bottom: 10px;
  border: none;
}

.custom-dropdown-header {
  /* font-weight: bold; */
  /* padding: 10px; */
  /* border-bottom: 1px solid #ddd; */
  /* background-color: #f7f7f7; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: left;
  font-size: 1rem;
  padding-bottom: 8px;
}

.dropdown-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.custom-dropdown-content {
  background-color: white;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* margin-top: 2px; */
  margin-left: 15px;
}

.custom-dropdown-search input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  /* border-radius: 5px; */
  /* border: 1px solid #ccc; */
  border: none;
  box-sizing: border-box;
  color: rgb(97, 97, 97);
  font: 14px / 19.6px Roboto, sans-serif;
  background: none 0% 0% / auto repeat scroll padding-box border-box
    rgb(245, 245, 245);
  border-radius: 0px;
  display: block;
  outline: rgb(97, 97, 97) none 0px;
  padding: 8px;
  width: 251.75px;
  visibility: visible;
}

.custom-dropdown-search input::placeholder {
  font-size: 12px;
}

.custom-dropdown-options {
  max-height: 140px;
  overflow-y: auto;
}

.custom-dropdown-option {
  /* padding: 5px 10px;
  border-bottom: 1px solid #ddd; */
  font-size: 1rem;
}

.custom-dropdown-option:last-child {
  border-bottom: none;
}

.custom-dropdown-no-results {
  padding: 10px;
  text-align: center;
  color: #999;
}

.custom-dropdown-option input[type="radio"] + label {
  margin-left: 5px;
  cursor: pointer;
}

.custom-dropdown-option input[type="radio"]:checked + label {
  /* font-weight: bold; */
}

.custom-dropdown-option label {
  display: flex;
  justify-content: space-between;
}

.custom-dropdown-option label::after {
  content: attr(data-count);
  font-size: 0.55em;
  color: #666;
}
// Search Bar CSS
#selected-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  background-color: #e1e1e1;
  padding: 2px 10px;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  align-items: center;
  font-size: smaller;
}

.close-button {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}
.h3-0 {
  box-sizing: border-box;
  font: 600 16px / 28px acumin-pro, sans-serif;
  margin: 0px;
  vertical-align: baseline;
  color: rgb(44, 37, 35);
  text-decoration: none solid rgb(44, 37, 35);
  flex: 1 1 0%;
  background: none 0% 0% / auto repeat scroll padding-box border-box
    rgb(255, 255, 255);
}

// ENgine Detail Page CSS

.engine-detail-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.engine-main-section {
  width: 100%; /* Adjust based on preference */
}

.engine-image-gallery {
  margin-bottom: 20px;
}

.engine-main-image {
  width: 100%;
  height: 500px;
}

.engine-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.engine-summary {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.engine-summary h1 {
  margin-bottom: 10px;
}

.engine-summary p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.engine-specifications ul {
  list-style: none;
  padding: 0;
}

.engine-specifications li {
  margin-bottom: 8px;
}

.engine-side-section {
  width: 25%; /* Adjust based on preference */
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.contact-info h2,
.engine-location h2 {
  margin-bottom: 15px;
}

.contact-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #0056b3;
}
// Css for Engine Detail Panel
.details-panel-container {
  margin-bottom: 0px;
  // border: 1px solid #ddd;
  // border-radius: 4px;
  overflow: hidden;
}

.details-panel-header {
  // background-color: #f5f5f5;
  // padding: 10px;
  // cursor: pointer;
  // font-size: 16px;
  // display: flex;
  // align-items: center;
}

.toggle-sign {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.panel-title {
  font-size: small;
  font-weight: 600;
}

.details-panel-content {
  padding: 15px;
  background-color: #fff;
}

.details-panel-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-panel-item {
  flex: 1 1 30%;
  margin-bottom: 15px;
}

.details-panel-item strong {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: smaller;
}

.details-panel-item span {
  font-size: 14px;
  color: #555;
}

// changed css for panel

// css for pagination
.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 300px;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: smaller;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination button:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.pagination button:hover:not(.active):not(:disabled) {
  background-color: #e9ecef;
}

.details-panel-container {
  padding: 0rem;
  // background-color: #f9f9f9;
}

.details-panel-content {
  padding: 0.5rem 0;
}

.details-panel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.details-panel-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}

.details-panel-item strong {
  margin-right: 1rem;
}
// engine detail in tables
.details-panel-container {
  padding: 0.25rem;
}

.details-panel-header {
  font-size: 1.2rem;
  // margin-bottom: 1rem;
  background-color: white;
  color: rgb(31, 117, 254);
  margin-left: 0.8rem;
}

.details-panel-content {
  padding: 0.5rem 0;
}

.details-panel-table {
  width: 100%;
  border-collapse: collapse;
}

.details-panel-table td {
  padding: 0.2rem;
  vertical-align: top;

  font-size: 1rem;
  font-weight: 350;
  // font-family: Roboto sans-serif;
  line-height: 120%;
  padding-left: 1rem;
}
.details-panel-table tr {
  margin: 0;
}

.details-panel-key {
  text-align: left;
  width: 15%; /* Adjust width based on your preference */
  font-weight: 350;
}

.details-panel-value {
  text-align: left;
  width: 30%; /* Adjust width based on your preference */
}

//  CSS FOR IMAGE GALLERY
.gallery-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.main-image-section {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

.thumbnail-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  border: 2px solid transparent;
}

.thumbnail.active,
.thumbnail:hover {
  opacity: 1;
  transform: scale(1.05);
  border: 2px solid black;
}
// Loader css
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey background */
  border-top: 8px solid #3498db; /* Blue spinner color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
