.accordion-button {
  padding: 10px 10px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}
